#highScoreList {
    list-style: none;
    padding-left: 0;
    margin-bottom: 4rem;
    font-size: 2.8rem;
}

#highScores {
    margin-bottom: 0.5rem;
}

#highScores:hover {
    transform: scale(1.025);
}